.logo {
	width:  120px;
}

.gd-news-article-contact ul li::before {
	display: none !important;
}

.gd-news-article-contact ul li a {
	vertical-align: middle;
  max-width: 80%;
  display: inline-block;
  word-break: break-all;
}

a, a:hover, a:visited, a:active {
	color: #202C4F;
}
.gd-newsletter .errorSummary li {
	color:  #ff0000;
}

.date-slaider-content {
	max-width:  525px;
}

.full-calendar .date-slaider-content {
	max-width: 100%;
}

.date-slaider-content a {
	min-width:  14%;
}

.full-calendar .date-slaider-content a {
	min-width: 8%;
}

.date-slaider-content .date-selector.active {
	color:  #000;
	font-size:  18px;
}

.badage {
	background-color: #00a367;
}
/*
.gd-most-important-in-gdynia article img {
	height: 300px;
    width: 100%;
    object-fit: cover;
}

.gd-home-page-news-block img:nth-child(1) {
	height: 200px;
    width: 100%;
    object-fit: cover;
}*/

.gd-breadcrumbs a {
	color:  #212529;
	text-decoration: none;
}

.content-navigation-widget .accordion-body a, .content-navigation-widget .accordion-body a:visited, .content-navigation-widget .accordion-body a:hover {
	color: #686d87;
	text-decoration: none;
}

.content-navigation-widget .accordion-body .single-article a.active {
	font-weight:  bold;
}

.nav-left ul {
	margin-left:  15px;
}

.nav-left a {

	font-size:  16px;
	color: #202c4f;

	background-color: transparent;
    background-image: url(/assets/2.0/frontend/img/acc_bottom_border.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 20px 0;
    display:  inline-block;
    width:  100%;
}

.nav-left a span {
	display:  block;
	width: calc(100% - 15px);
}

.nav-left > a span, .nav-toggle span {
	border-left:  4px solid #01a1c1;
	padding-left:  10px;
}

.nav-left > a span {
	font-weight:  600;
}

.nav-left a.active {
	font-weight:  bold;
}

.nav-toggle:after {
	flex-shrink: 0;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    width:  30px;
    height:  15px;
    display:  block;
    margin-top:  -15px;
}

.nav-toggle.open:after {
	transform: rotate(180deg) scaleX(-1);
}

.gd-pagination-item a {
	text-decoration: none;
	color:  #212529;
	width:  100%;
	text-align: center;
}

.gd-news-article-searcher button.submit {
	border: 0;
	background: #202c4f;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
}

.gd-searcher-date[type="date"] {
	background:  none;
}

.table-striped thead tr th:before {
	content:  '';
}

.table-striped thead tr th:after {
	content:  '';
}

.map {
	width: 100%;
	height:  300px;
}

.news-block-with-nagative-margin {
	margin-top:  -20px;
}

.gd-place-lists-block .thumb {
	max-width:  321px;
}

#places-map {
	width:  100%;
	height:  350px;
}

.type-changer.active {
	font-weight:  bold;
}

.table-place-details tr td {
	padding: 20px;
    border: 1px solid #eef4f8;
    color: #202C4F;
    font-weight: 600;
}
.table-place-details tr td:nth-child(1) {
	color: #686d87;
}
.table-place-details tr td:nth-child(2), .table-place-details tr td:nth-child(2) a {
	color: #202C4F;
}

.table-place-details tr:nth-child(odd) {
	background-color:  #eef4f8;
}

.st-custom-button {
	cursor:  pointer;
}

.gd-article-news .custom-layout li {
	margin-left: 0;

}
.gd-article-news .custom-layout li::before {
	display:  none;
}
.gd-live-camera-block h3 {
	font-size:  28px;
}

section.gd-most-important-in-gdynia article video, section.gd-most-important-in-gdynia article iframe {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
}

.img-bottom-description {
	padding: 15px;
  text-align: center;
  background-color: #ececec;
}
 
.alert-bar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background-color: #ffe425;
  padding: 15px 0; }
  .alert-bar div {
    display: block;
    max-width: 4000px;
	width: 4000px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    animation: marquee 40s linear infinite; }
  .alert-bar div:hover {
    animation-play-state: paused; }
  .alert-bar span {
    float: left;
    width: 50%;
    font-weight: 800; }


img.gd-footer-images-section-max-130 {
	max-height: 130px !important;
}

@keyframes marquee {
  0% {
    left: 0; }

  100% {
    left: -100%; } }


body.desaturated {
  filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
  -webkit-filter: grayscale(1) !important;
  -moz-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%) !important;
  -o-filter: grayscale(100%) !important;
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");
  filter: gray; }





.cd-image-container {
  position: relative;
  width: 100%;
  /*max-width: 768px;*/
  margin: 0em auto;
}
.cd-image-container img {
  display: block;
}

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #d83e00 url("https://www.gdynia.pl/assets/frontend/img/cd-arrows.svg") no-repeat center center;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #445b7c;
}
.img-compare {
	width:  100%;
}
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}

.cd-image-label {
  display: none;
}

.gd-end-of-article {
  clear:  both;
}