body.contrast,
.contrast .gd-most-important-in-gdynia,
.contrast .gd-most-important-in-gdynia h3,
.contrast .gd-home-page-news-block,
.contrast .gd-home-page-events-block,
.contrast .gd-category-filter,
.contrast .for-villager-slider p,
.contrast .gd-worthy-shows-up h3,
.contrast .gd-newsletter-row,
.contrast .gd-home-page-events-block-icons p,
.contrast .gd-home-page-events-block-icons time,
.contrast option,
.contrast .gd-sideheader .accordion-item,
.contrast .gd-news-article-searcher-content,
.contrast .gd-take-a-look-block-content,
.contrast .gd-news-article-contact,
.contrast .gd-grey-banner,
.contrast .gd-live-camera-block,
.contrast .gd-place-lists,
.contrast .gd-news-article-searcher,
.contrast .article-list-wtih-odd-bg li:nth-child(odd),
.contrast .gd-town-leaders,
.contrast .gd-maps-website,
.contrast .gd-event-vertical-block,
.contrast .gd-blue-submenu,
.contrast .gd-top-menu,
.contrast .gd-most-important-in-gdynia .grid-wrapper-content a,
.contrast .submenu-new-ul-list,
.contrast .gd-blue-nav,
.contrast .for-villager-slider h3,
.contrast .gd-practice-info,
.contrast .gd-main-footer,
.contrast .gd-bip-section,
.contrast .gd-newsletter-modal-content,
.contrast .table-place-details tr:nth-child(odd),
.contrast .gd-menu-search-and-lang,
.contrast .modal-content,
.contrast .dark-theme-meteoprog,
.contrast .gd-turist-package-below-bar{
    background-color: #000 !important;
}

.contrast .ln-active{
    background-color: #202c4f!important;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast a,
.contrast span,
.contrast time,
.contrast ::placeholder,
.contrast label,
.contrast input,
.contrast select,
.contrast option,
.contrast ul li,
.contrast .gd-sideheader .accordion-item,
.contrast blockquote,
.contrast .gd-grey-banner,
.contrast tr,
.contrast .table-striped>tbody>tr:nth-of-type(odd)>*,
.contrast .gd-home-page-events-block:hover .news-date,
.contrast article,
.contrast section,
.contrast .table-place-details tr td:nth-child(1),
.contrast .table-place-details tr td:nth-child(2),
.contrast .table-place-details tr td:nth-child(2) a {
    color: #fff !important;
}

.contrast input,
.contrast select,
.contrast .gd-to-download a,
.contrast .table-striped thead,
.contrast .for-villager-slider .slick-slide div a:not(:first-child),
.contrast .gd-place-lists-block {
    background-color: transparent !important;
}

.contrast .gd-newsletter-inputs button,
.contrast .gd-news-article-searcher button.submit,
.contrast .gd-pagination-item.active{
    background-color: #fff!important;
}

.contrast .gd-most-important-in-gdynia h3,
.contrast .gd-home-page-news-block,
.contrast .gd-home-page-events-block,
.contrast .gd-category-filter,
.contrast .for-villager-slider .slick-slide div a:not(:first-child),
.contrast .gd-worthy-shows-up h3,
.contrast .gd-newsletter-row,
.contrast .gd-home-page-events-block-icons p,
.contrast .gd-home-page-events-block-icons time,
.contrast .gd-news-article-searcher-content,
.contrast .gd-take-a-look-block-content,
.contrast .gd-news-article-contact,
.contrast .gd-grey-banner,
.contrast .gd-live-camera-block,
.contrast .gd-place-lists,
.contrast .gd-town-leaders,
.contrast .gd-maps-website,
.contrast .gd-to-download a,
.contrast .table-striped thead,
.contrast .gd-event-vertical-block,
.contrast .gd-main-search-form,
.contrast .dark-theme-meteoprog,
.contrast .gd-turist-package-below-bar {
    border: 2px solid #41464B !important;
}

.contrast .is-active-thumbnail {
    border: 2px solid #fff;
}

.contrast .gd-searcher-date,
.contrast #event-category,
.contrast .gd-news-article-searcher-content input,
.contrast .gd-news-article-searcher-content select,
.contrast .gd-pagination-item{
    border: 1px solid #fff;
}


.contrast .article-list-wtih-odd-bg li:nth-child(odd) {
    background-color: #3d4042 !important;
}

.contrast .overlay-on-dog-banner h1,
.contrast .overlay-on-dog-banner h2,
.contrast .overlay-on-dog-banner p,
.contrast .gd-newsletter-inputs button,
.contrast .gd-news-article-searcher button.submit,
.contrast .gd-pagination-item.active a {
    color: #000 !important;
}

.contrast .logo img,
.contrast .bip img,
.contrast .news-date img,
.contrast .gd-news-article-contact li img,
.contrast .gd-end-of-article img,
.contrast .st-custom-button,
.contrast .gd-news-article-searcher-maps,
.contrast .gd-searcher-search,
.contrast .gd-to-download a img,
.contrast .gd-main-search-form,
.contrast .gd-place-list-info-most-important img,
.contrast .gd-place-list-info-most-important svg,
.contrast .gd-place-lists-info ul li img,
.contrast .gd-home-page-events-block ul li img,
.contrast .gd-contact-address ul li img,
.contrast .gd-phone-lists ul li img{
    filter: brightness(100);
}

.contrast .gd-searcher-date{
    background-image: url('../img/datepicker_kontrast.svg');
}