@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

ol li{
	list-style: decimal!important;
}

.hide-desktop{
	display: none!important;
}

.show{
	display: flex;
}

@media print{
	header,.gd-sideheader,.gd-footer-menu-section,.gd-footer-shortcut-section{
		display: none;
	}
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

  /* Track */
::-webkit-scrollbar-track {
	background: #EEF4F8;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
	background: #202C4F;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	transition: .3s ease background;
	-webkit-transition: .3s ease background;
	-moz-transition: .3s ease background;
	-ms-transition: .3s ease background;
	-o-transition: .3s ease background;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #808080;
}

*:focus-visible{
	outline: 3px solid #ff0000;
}

.gd-worthy-shows-up .gd-worthy-shows-up-slider article a:focus-visible{
	outline-offset: -3px;
}

.gd-worthy-shows-up .gd-worthy-shows-up-slider article a{
	display: block;
}

.gd-article-news a{
	color: #2594ff;
	text-decoration: underline;
	transition: .3s ease color;
	-webkit-transition: .3s ease color;
	-moz-transition: .3s ease color;
	-ms-transition: .3s ease color;
	-o-transition: .3s ease color;
}

.gd-article-news a:hover{
	color: #000;
}

.gd-article-news .gd-home-page-events-block a:hover{
	color: #fff
}

.gd-news-slider-gallery-content > div{
	width: 100%;
}

.table-place-details{
	padding: 0;
	margin: 0;
	min-height: 100%;
}

.gd-image-with-table{
	margin-top: 15px;
}

.gd-image-with-table img{
	min-height: 100%;
}

.gd-image-with-table .col-lg-4, .gd-image-with-table .col-lg-8{
	padding: 0;
	margin: 0;
}

.gd-banners-under-events .col-md-4 a img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	transition: .3s ease opacity;
	-webkit-transition: .3s ease opacity;
	-moz-transition: .3s ease opacity;
	-ms-transition: .3s ease opacity;
	-o-transition: .3s ease opacity;
}

.gd-banners-under-events{
	padding-top: 50px;
}

.gd-banners-under-events .slick-arrow{
	top: -20%;
}

.gd-banners-under-events img:hover{
	opacity: 0.6;
}

.change-contrast{
	margin-left: 5px;
	appearance: none;
	border: 0;
	background: none;
}

.change-contrast.light,.migowy-dark{
	display: none;
}

.gd-news-slider-gallery-content .btn-download-file.btn-download-all img{
	width: unset;
	margin-right: 15px;
}

.contrast .change-contrast.light,.contrast .migowy-dark{
	display: block;
}

.gd-main-search-form{
	border: 1px solid #000;
}

.gd-top-menu-all{
	display: flex;
	gap: 20px;
	align-items: center;
	position: relative;
}

.gd-main-search{
	border: 0;
	appearance: none;
	padding: 10px 15px;
}

.gd-main-search-btn{
	border: 0;
	appearance: none;
	background-color: transparent;
	margin-right: 5px;
}

.contrast .change-contrast.dark,.contrast .migowy-light{
	display: none;
}

.gd-pagination{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	gap: 20px;
	align-items: center;
	margin-top: 25px;
}

.gd-pagination-item:first-child, .gd-pagination-item:last-child{
	border: 0;
}

.gd-pagination-item.active{
	background-color: #eef4f8;
}

.gd-pagination-item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 45px;
	height: 45px;
	border: 1px solid #656565;
	cursor: pointer;
}

.skip-link a{
	position: absolute!important;
	left: -999em;
	z-index: 1;
}

.skip-link a:focus, .skip-link a:hover, .skip-link a:active{
	background-color: #f1f1f1;
    -webkit-box-shadow: 0 0 2px 2px rgb(0 0 0 / 60%);
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 60%);
    clip: auto;
    color: #202c4f;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    line-height: normal;
    padding: 15px 23px 14px;
    position: absolute;
    left: 5px;
    top: 5px;
    text-decoration: none;
    text-transform: none;
    width: auto;
    z-index: 100000;
    left: 1em;
    top: 1em;
    background: #f6f3fa;
    color: #202c4f;
    padding: 5px;
    border: 1px solid #202c4f;
    -webkit-box-shadow: 2px 2px 2px #777;
    box-shadow: 2px 2px 2px #777;
    border-radius: 5px;
    font-size: 1.4em;
}

ul,
li,ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.uil.uil-bars,.uil.uil-times{
	font-size: 24px;
	color: #fff;
	display: none;
}

.badage-color-green {
	background-color: #00a367;
}

.badage-color-orange {
	background-color: #d18100;
}

.badage-color-red {
	background-color: #e33a3a;
}

.badage-color-blue {
	background-color: #007cf0;
}

.badage-color-light-blue {
	background-color: #01a1c1;
}

.badage-color-violet{
	background-color: #d741e1;
}

.container-gd {
	max-width: 1550px;
}

.gd-news-header{
	position: relative;
}

.overlay-on-dog-banner{
	position: absolute;
	bottom: 5%;
	left: 5%;
	background: url('../img/baner_title_bg.png');
	width: 95%;
	background-position: left center;
	padding: 10px 30px;
}

.overlay-on-dog-banner p{
	padding-left: 30px;
	font-size: 27px;
	color: #202C4F;
}

.gd-to-download a{
	background-color: #eef4f8;
	display: flex;
	gap: 10px;
	color: #202C4F;
	align-items: center;
	max-width: 50%;
	margin: 10px 0;
}

.gd-to-download p span{
	text-transform: uppercase;
}

.gd-to-download h2,.gd-mayor-collegium h2, .gd-maps-website h2, .gd-maps-instruction h2, .gd-heading-second{
	font-weight: 600;
	font-size: 32px;
	color: #202C4F;
}

.gd-to-download p{
	color: #686d87;
	font-size: 13px;
	display: flex;
	gap: 5px;
	margin-bottom: 0;
}

.gd-to-download h3 {
	font-size: 16px;
}

.news-block-with-nagative-margin{
	margin-top: -70px;
}

/* HEADER,NAV */

.gd-main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 95px;
	position: relative;
}

.gd-top-menu2{
	display: flex;
	gap: 50px;
	align-items: baseline;
	text-transform: uppercase;
}

.submenu-new-ul-list{
	width: 100%;
	height: 100%;
	z-index: 99999999999;
	background-color: #EEF4F8;
	column-fill: balance;
	columns: 4;
}

.gd-top-menu {
	display: flex;
	gap: 10px;
	align-items: baseline;
	text-transform: uppercase;
	position: absolute;
	top: 100%;
	flex-direction: column;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #D3D3D3;
	z-index: 1;
}

.gd-news-header-image-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

.gd-news-header .position-relative img{
	max-height: 400px;
	object-fit: contain;
}

.gd-top-menu-on-mobile{
	display: flex;
	gap: 10px;
	align-items: baseline;
	text-transform: uppercase;
	padding: 5px;
	z-index: 1;
	justify-content: space-between;
	margin-bottom: 25px;
}

.gd-menu-search-and-lang{
	width: 100%;
	padding: 20px;
	background-color: #fff;
	position: absolute;
	top: 99%;
	display: block;
	z-index: 1;
}

.gd-top-menu li{
	width: 100%;
	padding: 5px;
	transition: .3s ease background-color;
	-webkit-transition: .3s ease background-color;
	-moz-transition: .3s ease background-color;
	-ms-transition: .3s ease background-color;
	-o-transition: .3s ease background-color;
}

.rotate-arrow{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.ln-active{
	background-color: #EEF4F8;
}

.gd-top-menu li:hover{
	background-color: #EEF4F8;
}

.gd-change-language .arrow{
	width: 10px;
	height: 10px;
}

.gd-change-language{
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	position: relative;
}

.gd-blue-menu {
	display: grid;
	grid-template-columns: repeat(6,1fr);
	width: 100%;
	gap: 10px;
}

.gd-top-menu li a{
	color: #202C4F;
}

.gd-blue-nav {
	width: 100%;
	background-color: #202c4f;
}

.gd-blue-menu li {
	width: 100%;
}

.gd-blue-menu li a {
	padding: 15px 0;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	width: 100%;
	font-size: 14px;
	transition: .3s ease opacity;
	-webkit-transition: .3s ease opacity;
	-moz-transition: .3s ease opacity;
	-ms-transition: .3s ease opacity;
	-o-transition: .3s ease opacity;
	text-align: center;
	position: relative;
}

.gd-event-vertical-block-image img{
	height: 100%;
	object-fit: contain;
}

.gd-blue-submenu {
	width: 100%;
	z-index: 99;
	border: 0;
	padding: 20px;
	left: 0;
	right: 0;
	margin-top: 3px;
	display: none;
}

.submenu-new-ul-list{
	background-image: url('../img/gdynia-opacity.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

.gd-blue-submenu-active{
	display: block;
	width: 100%;
	position: absolute;
	z-index: 9999999;
	left: 0;
}

.gd-blue-submenu h3{
	color: #202C4F;
	font-weight: 700;
	padding: 15px 0 35px 0;
	font-size: 16px;
	text-transform: uppercase;
}

.gd-blue-submenu ul li a{
	color: #202C4F;
	text-align: left;
}

.news-page-block-image{
	max-height: 300px;
	min-height: 300px;
	object-fit: cover;
}

section.gd-most-important-in-gdynia article img{
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
}

.gd-blue-submenu ul li::after, .gd-blue-submenu h3::after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: url('../img/menu_line.png');
	background-repeat: no-repeat;
	margin-top: 10px;
}

.gd-blue-menu > li a:hover {
	opacity: 0.6;
}

.gd-blue-menu li img {
	margin-right: 15px;
}

#menu-item-1 {
	border-bottom: 3px solid #4cd2ee;
}

#menu-item-2 {
	border-bottom: 3px solid #2594ff;
}

#menu-item-3 {
	border-bottom: 3px solid #30c88f;
}

#menu-item-4 {
	border-bottom: 3px solid #fab23f;
}

#menu-item-5 {
	border-bottom: 3px solid #ff5e5e;
}

#menu-item-6 {
	border-bottom: 3px solid #dc5be5;
}

/* HOME PAGE */
.gd-most-important-in-gdynia article {
	position: relative;
	transition: .3s ease opacity;
	-webkit-transition: .3s ease opacity;
	-moz-transition: .3s ease opacity;
	-ms-transition: .3s ease opacity;
	-o-transition: .3s ease opacity;
}

.gd-most-important-in-gdynia{
	background-color: #EEF4F8;
	padding-bottom: 50px;
}

.gd-most-important-in-gdynia article:hover{
	opacity: 0.6;
}

.gd-most-important-in-gdynia h3 {
	color: #202c4f;
	font-weight: 700;
	font-size: 22px;
	padding: 30px 48px;
	flex: 1;
}

.gd-most-important-in-gdynia h2, .gd-phone-lists h2, .gd-contact-address h2 {
	color: #202c4f;
	font-weight: 700;
	font-size: 37px;
}

.gd-turist-package-below-bar{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-top: 20px;
	background-color: #eef4f8;
	padding: 10px 20px;
}

.gd-turist-package-below-bar p{
	font-weight: 700;
}

.badage {
	padding: 5px 15px;
	display: block;
	position: absolute;
	color: #fff;
	top: 15px;
	left: 35px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 19px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.gd-home-page-show-more-bar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	align-items: center;
	flex-wrap: wrap;
}

.gd-home-page-show-more-bar h2 {
	color: #202c4f;
	font-weight: 600;
	font-size: 37px;
}

.gd-home-page-show-more-bar a {
	color: #686d87;
	display: flex;
	align-items: center;
}

.gd-home-page-show-more-bar img {
	margin-left: 15px;
}

.news-date {
	color: #686d87;
	display: block;
	margin: 20px 0;
}

.gd-home-page-news h3,
.gd-home-page-events h3 {
	color: #202c4f;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	margin-top: 10px;
}

.gd-home-page-news-block,.gd-home-page-events-block{
	padding: 20px;
	background-color: #EEF4F8;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.gd-home-page-events-block-icons p, .gd-home-page-events-block-icons time{
	background-color: #fff;
	padding: 5px 10px;
	margin: 5px 0;
}

.gd-home-page-news p,
.gd-home-page-events p {
	color: #686d87;
	font-size: 16px;
	margin-top: 20px;
}

.gd-home-page-events img {
	margin-right: 7px;
}

.gd-category-filter {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 25px;
	flex-wrap: wrap;
	background-color: #EEF4F8;
	padding: 20px;
}

.gd-category-filter-content {
	display: flex;
	align-items: baseline;
	gap: 20px;
}

.date-slaider button {
	appearance: none;
	border: 0;
	background-color: transparent;
}

.date-slaider-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	width: 100%;
}

.date-slaider-content a{
	min-width: 10%;
	transition: .6s ease;
	-webkit-transition: .6s ease;
	-moz-transition: .6s ease;
	-ms-transition: .6s ease;
	-o-transition: .6s ease;
	color: #202c4f;
	font-weight: 600;
}

.date-slaider {
	display: flex;
}

.gd-category-filter-content input,
.gd-category-filter-content select {
	padding: 10px 15px;
	width: 100%;
}

.gd-practice-info {
	background-color: #202C4F;
	padding: 20px 0;
}

.gd-practice-info h2 {
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 37px;
	display: block;
	margin: 50px;
}

.gd-practice-info-content {
	justify-content: space-between;
	text-align: center;
	padding: 20px;
}

.gd-practice-info-content .block-for-after{
	position: relative;
}

.gd-practice-info-content .block-for-after::after{
	content: url('../img/Line.svg');
	top: 0;
	right: 0;
	position: absolute;
}

.gd-practice-info-content .block-for-after:last-child:after{
	display: none;
}

.gd-practice-info-content h3 {
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin-top: 25px;
}

.gd-practice-info-content a:hover, .gd-practice-info-content a:hover h3, .gd-worthy-shows-up-slider article:hover,.gd-main-footer li:hover,.gd-footer-social-media img:hover{
	opacity: 0.6;
	cursor: pointer;
}

.gd-footer-social-media ul{
	display: flex;
	gap: 10px;
}

.gd-practice-info-content a, .gd-practice-info-content a h3,.gd-worthy-shows-up-slider article, .gd-main-footer li,.gd-footer-social-media img{
	transition: .3s ease opacity;
	-webkit-transition: .3s ease opacity;
	-moz-transition: .3s ease opacity;
	-ms-transition: .3s ease opacity;
	-o-transition: .3s ease opacity;
}

.gd-for-villager {
	margin-top: 50px;
}

.slick-track{
	display: flex!important;
}

.slick-slide{
	height: inherit!important;
}

.for-villager-slider .slick-slide div a:not(:first-child){
	flex: 1;
	background-color: #EEF4F8;
}

.for-villager-slider .slick-slide div,.gd-banners-under-events .slick-slide div {
	height: 100%!important;
	display: flex!important;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

blockquote::before{
	content: '';
	display: block;
	background-image: url('../img/quote.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 40px;
	position: absolute;
	top: 15%;
	left: 0;
}

blockquote{
	padding-left: 100px;
	padding-top: 70px;
	position: relative;
}

#single-place-map{
	height: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
}

.for-villager-slider p{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin: 0;
	padding: 5px 10px;
	color: #202C4F;
}

.gd-for-villager h2 {
	text-align: center;
	display: block;
	margin-bottom: 50px;
	color: #202c4f;
	font-size: 37px;
	font-weight: 600;
}

.slick-arrow {
	position: absolute;
	top: -15%;
	appearance: none;
	border: 0;
	width: 67px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
	background-color: transparent;
}

.gd-worthy-shows-up-slider-image-article{
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.slick-prev {
	right: 50px;
}

.slick-next {
	right: 0;
}

.gd-for-villager .slick-arrow{
	position: inherit;
}

.gd-for-villager .arrows{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
}

.for-villager-slider h3 {
	color: #fff;
	background-color: #202c4f;
	text-transform: uppercase;
	padding: 10px 15px;
	font-weight: 700;
	font-size: 16px;
	border-bottom: 2px solid #4CD2EE;
}

.slick-slide {
	padding: 0 10px;
}

.gd-worthy-shows-up h3 {
	color: #202c4f;
	font-weight: 700;
	font-size: 22px;
	display: flex;
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;
	background-color: #EEF4F8;
}

.gd-worthy-shows-up h2 {
	display: block;
	margin-bottom: 50px;
}

.gd-worthy-shows-up-slider {
	margin-top: 50px;
}

.gd-worthy-shows-up-slider .slick-arrow{
    top: -35%;
}

.gd-bip-block-town:hover,
.gd-bip-block-cases:hover,
.gd-bip-block-job:hover,
.gd-bip-block-orders:hover,
.gd-worth-to-see-blue-block:hover,
.gd-worth-to-see-green-block:hover,
.gd-worth-to-see-violet-block:hover,
.gd-worth-to-see-brown-block:hover{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-slice: 1;
	border-left: 1px solid;
    border-image-source: linear-gradient(343deg, rgba(0,0,0,0) 23%, rgba(255,255,255,1) 100%);
}

.gd-worth-to-see-blue-block{
	background: linear-gradient(98.06deg, rgba(101, 229, 255, 0.5) -0.94%, rgba(101, 229, 255, 0) 57.21%), rgba(255, 255, 255, 0.1);
	padding: 15px 10px;
	transition: .3s ease all;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	position: relative;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.gd-bip-block-town{
	background: linear-gradient(98.06deg, rgba(101, 229, 255, 0.5) -0.94%, rgba(101, 229, 255, 0) 57.21%), rgba(255, 255, 255, 0.1);
	transition: .3s ease all;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.gd-bip-block-cases{
	background: linear-gradient(98.06deg, rgba(48, 200, 143, 0.5) -0.94%, rgba(48, 200, 143, 0) 57.21%), rgba(255, 255, 255, 0.1);
	transition: .3s ease all;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.form-control{
	border-radius: unset;
	-webkit-border-radius: unset;
	-moz-border-radius: unset;
	-ms-border-radius: unset;
	-o-border-radius: unset;
	height: 46px;
}

.gd-bip-block-job{
	background: linear-gradient(98.06deg, rgba(220, 91, 229, 0.5) -0.94%, rgba(220, 91, 229, 0) 57.21%), rgba(255, 255, 255, 0.1);
	transition: .3s ease all;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.gd-bip-block-orders{
	background: linear-gradient(98.06deg, rgba(250, 178, 63, 0.5) -0.94%, rgba(250, 178, 63, 0) 57.21%), rgba(255, 255, 255, 0.1);
	transition: .3s ease all;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.gd-worth-to-see-green-block{
	background: linear-gradient(98.06deg, rgba(48, 200, 143, 0.5) -0.94%, rgba(48, 200, 143, 0) 57.21%), rgba(255, 255, 255, 0.1);
	padding: 15px 10px;
	transition: .3s ease all;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.gd-worth-to-see-violet-block{
	background: linear-gradient(98.06deg, rgba(220, 91, 229, 0.5) -0.94%, rgba(220, 91, 229, 0) 57.21%), rgba(255, 255, 255, 0.1);
	padding: 15px 10px;
	transition: .3s ease all;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.gd-worth-to-see-brown-block{
	background: linear-gradient(98.06deg, rgba(250, 178, 63, 0.5) -0.94%, rgba(250, 178, 63, 0) 57.21%), rgba(255, 255, 255, 0.1);
	padding: 15px 10px;
	transition: .3s ease all;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.gd-bip-section{
	background-color: #202c4f;
	padding: 50px 0;
	margin-bottom: 50px;
}

.gd-bip-section h2{
	text-align: center;
	color: #fff;
	display: block;
	margin-bottom: 50px;
	font-weight: 600;
}

.gd-bip-section h3,.gd-some-section-with-blue-bg h3{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}

.gd-bip-section h3 a{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	display: block;
	width: 100%;
	padding: 16px 10px;
}

.gd-some-section-with-blue-bg h3{
	display: flex;
	align-items: center;
	gap: 20px;
	text-transform: uppercase;
}

.gd-newsletter{
	padding: 50px 0;
	margin-top: 150px;
	position: relative;
}

.gd-newsletter-row{
	display: flex;
	align-items: center;
	background-color: #eef4f8;
	justify-content: space-between;
}

.gd-newsletter-image{
	margin: 0;
	padding: 0;
}

.gd-newsletter-image img{
	display: block;
	margin-left: auto;
	margin-top: -100px;
}

.gd-newsletter-modal{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 999;
}

.gd-newsletter-modal-wrapper{
	position: fixed;
	background-color: rgba(0,0,0,0.2);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.gd-newsletter-modal-content{
	z-index: 9999;
	background-color: #eef4f8;
	padding: 20px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	max-width: 992px;
	display: block;
	overflow-y: scroll;
	margin-inline: auto;
	height: 100%;
}

.rodo-accept{
	display: flex;
	gap: 10px;
	align-items: baseline;
}

.gd-newsletter-form{
	padding-left: 50px;
}

.gd-newsletter-form h2{
	display: block;
	margin-bottom: 25px;
	font-size: 37px;
	color: #202c4f;
	font-weight: 600;
}

.gd-newsletter-form #gd-email-input, .gd-newsletter-form #gd-form-select{
	border: 1px solid #202c4f;
	padding: 10px 24px;
	margin-bottom: 25px;
	width: 100%;
}

.gd-newsletter-inputs{
	display: flex;
	gap: 25px;
	width: 100%;
}

.gd-newsletter-inputs button{
	background-color: #202c4f;
	border: 1px solid rgba(32,44,79,0.1);
	color: #fff;
	max-height: 46px;
	width: 100%;
}

.gd-main-footer{
	background-color: #202c4f;
	padding-top: 50px;
	color: #fff;
	font-size: 14px;
}

.gd-footer-menu-section ul li::after, .gd-footer-shortcut-section ul li::after{
	content: '';
	background-image: url('../img/line-bottom.svg');
	display: block;
	width: 100%;
	height: 2px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 15px;
}

.gd-main-footer h3{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}

.gd-footer-section-with-logo .gd-footer-logo{
	display: block;
	margin-bottom: 50px;
	max-width: 126px;
	width: 100%;
}

.gd-end-of-article div a img{
	margin-right: 0;
}

.gd-footer-section-with-logo .gd-footer-info img{
	margin-right: 10px;
}

.gd-footer-section-with-logo .gd-footer-info li{
	text-transform: uppercase;
	font-weight: 600;
}

.gd-footer-row{
	display: flex;
	align-items: baseline;
}

.gd-main-footer li{
	padding: 15px 0;
}

.gd-main-footer li a{
	color: #fff;
}

.gd-footer-social-media{
	display: flex;
	justify-content: flex-end;
	gap: 15px;
}

.gd-footer-logos{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.gd-footer-logos img{
	width: 100%;
	max-height: 85px;
	object-fit: contain;
}

/* AKTUALNOSC */
.gd-breadcrumbs ul{
	display: flex;
	align-items: center;
	padding: 20px 0;
}

.gd-breadcrumbs ul li:first-child{
	padding-left: 0;
}

.gd-breadcrumbs ul li:last-child{
	border-right: 0;
}

.gd-breadcrumbs ul li{
	padding: 0 10px;
	border-right: 1px solid #01A1C1;
}

.info-and-share{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.badage-in-news{
	padding: 10px 25px;
	color: #fff;
	margin: 15px 0;
	text-transform: uppercase;
	font-weight: 700;
}

.gd-news-header h1{
	font-weight: 700;
	color: #202C4F;
}

.gd-grey-text-yarn{
	color: #686d87;
	margin-inline: auto;
	display: block;
	max-width: 780px;
}

.gd-article-news h2{
	color: #202C4F;
	font-size: 24px;
}

.gd-article-news h3{
	/*font-size: 16px;*/
	font-weight: 700;
}

.gd-article-news li, .vertical-event-contact li{
	margin-left: 50px;
	padding-block: 5px;
}

.article-list-wtih-odd-bg li{
	margin-left: unset;
}

.gd-article-news ul li::before{
	content: '';
	background: url('../img/bullet.png');
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 20px;
}

.gd-news-slider-gallery-content{
	display: none;
	justify-content: space-between;
	gap: 50px;
}

.gd-news-slider-gallery-content.is-active{
	display: flex;
}

.gd-news-slider-gallery-content.is-active a{
	width: 100%;
}

.gd-news-slider-gallery-content img{
	width: 100%;
	object-fit: contain;
}

.gd-news-slider-gallery-thumbnails{
	display: flex;
	gap: 50px;
	margin-top: 50px;
	flex-wrap: wrap;
}

.gd-news-slider-gallery-thumbnails img{
	width: 120px;
	height: 120px;
	object-fit: cover;
}

.gd-news-slider-gallery-buttons{
	display: flex;
	justify-content: end;
}

.gd-news-slider-gallery-buttons button{
	border: 0;
	appearance: none;
	background-color: transparent;
}

.is-active-thumbnail{
	outline: 3px solid #000;
}

.gd-news-article-contact{
	display: flex;
	background-color: #EEF4F8;
	padding: 15px;
}

.article-list-wtih-odd-bg li:nth-child(odd){
	background-color: #eef4f8;
}

.article-list-with-odd-bg li:nth-child(odd){
	background-color: #eef4f8;
}

.ratusz-okladka{
	display: block;
	width: 100%;
	height: 200px;
	object-fit: contain;
	margin-inline: auto;
	background-color: #656565;
}

.gd-some-section-with-blue-bg{
	padding: 20px;
	background-color: #202c4f;
}

.gd-anker li{
	display: flex;
	gap: 30px;
}

.gd-anker li a{
	min-width: 240px;
	color: #686d87;
}

.gd-pagination-in-anker{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.gd-pagination-in-anker .gd-home-page-show-more-bar{
	width: 100%;
}

.gd-event-vertical-block{
	display: flex;
	background-color: #eef4f8;
}

.gd-event-vertical-block .gd-home-page-events-block-icons{
	padding: 20px;
}

.gd-virtual-guide img{
	transition: .3s ease opacity;
	-webkit-transition: .3s ease opacity;
	-moz-transition: .3s ease opacity;
	-ms-transition: .3s ease opacity;
	-o-transition: .3s ease opacity;
}

.gd-virtual-guide img:hover{
	opacity: 0.6;
}

.gd-virtual-guide img{
	width: 100%;
}

.article-list-wtih-odd-bg li{
	padding: 20px;
	border: 1px solid #eef4f8;
	color: #202C4F;
	font-weight: 600;
}

.article-list-with-odd-bg li{
	padding: 20px;
	border: 1px solid #eef4f8;
	color: #202C4F;
	font-weight: 600;
}

.gd-news-article-contact-image-phone{
	margin-top: -50px;
	margin-right:  150px;
	height: 250px;
}

.gd-news-article-contact li::before,.gd-end-of-article li::before{
	background: none;
}

.gd-news-article-contact li {
	margin-left:  0px;
}

/* .gd-news-article-contact li{
	display: inline-block;
} */

.gd-news-article-contact li img,.gd-end-of-article img{
	margin-right: 10px;
}

.gd-end-of-article{
	display: flex;
	justify-content: space-between;
}

.gd-end-of-article li{
	margin: 0;
	padding: 10px 0;
}

.gd-sideheader{
	margin-top: 15px;
}

#accordion-navigation .nav-left ul.active li a.active{
	background-image: url('../img/acc_bottom_border_act.png');
}

#accordion-navigation .nav-left a.nav-toggle.active{
	background-image: url('../img/acc_bottom_border_act.png');
	color: #01A1C1;
}

.accordion-item{
	border: 0;
}

.accordion-button.collapsed, .accordion-body ul li,.accordion-button:not(.collapsed){
	background-color: transparent;
	background-image: url('../img/acc_bottom_border.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 20px 0;
}

.accordion-button.collapsed span{
	border-left: 4px solid #01a1c1;
	padding-left: 10px;
}

.gd-home-page-events-block h3{
	font-weight: 700;
	color: #202c4f;
	font-size: 20px;
}

.gd-phone-lists ul{
	display: flex;
	flex-wrap: wrap;
	gap: 20px 0;
}

.gd-phone-lists ul li{
	flex: 25%;
}

.gd-contact-address ul li{
	padding: 5px 0;
	font-weight: 600;
	color: #202c4f;
}

.gd-contact-address ul li img,.gd-phone-lists ul li img{
	margin-right: 10px;
}

.gd-home-page-events-block ul li{
	padding: 5px 0;
}

.gd-sideheader-green .accordion-button.collapsed span{
	border-left: 4px solid #00A367;
	padding-left: 10px;
}

.gd-sideheader-gold .accordion-button.collapsed span{
	border-left: 4px solid #D18100;
	padding-left: 10px;
}

.gd-sideheader-red .accordion-button.collapsed span{
	border-left: 4px solid #e33a3a;
	padding-left: 10px;
}

.accordion-button span{
	border-left: 4px solid transparent;
	color: #202C4F;
	font-weight: 600;
}

.gd-news-article-searcher{
	background-color: #eef4f8;
}

.accordion-button:focus{
	box-shadow: none;
}

.accordion-button:not(.collapsed){
	padding: 20px 0;
	padding-left: 10px;
	background-color: transparent;
	color: #01a1c1;
	font-weight: 600;
}

.accordion-body li{
	padding: 10px 20px;
	color: #686d87;
}

.accordion-body{
	padding: 0 20px;
}

.gd-take-a-look-block{
	margin: 40px 0;
}

.gd-take-a-look-block h3{
	font-size: 21px;
	color: #202C4F;
	padding-top: 25px;
	font-weight: 600;
}

.gd-take-a-look-block-content{
	padding: 20px;
	background-color: #eef4f8;
}

/* AKTUALNOŚCI */
.gd-news-article-searcher-content{
	background-color: #EEF4F8;
	padding: 25px;
	gap: 35px;
}

.gd-news-article-searcher-content input, .gd-news-article-searcher-content select{
	padding: 7px;
	width: 100%;
	font-size: 13px;
	border: 1px solid #686d87;
}

.gd-searcher-date{
	background-image: url('../img/Icon_cal.png');
	background-repeat: no-repeat;
	background-position: 95% center;
	padding-right: 25px;
	border: 1px solid #686d87;
	max-width: 200px;
}

.gd-searcher-date:focus{
	background-image: none;
}

.gd-searcher-search{
	background-image: url('../img/search-normal.png');
	background-position: 95% center;
	background-repeat: no-repeat;
	padding-right: 25px;
	border: 1px solid #686d87;
}

.gd-home-page-news-block .block-item-for-badage{
	margin-top: -15px;
}

.gd-home-page-news-block img:first-child{
	aspect-ratio: 1/1;
	object-fit: cover;
}

.gd-read-more{
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
	margin-left: auto;
}

.gd-news-article-searcher-maps a{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	font-size: 12px;
	color: #202C4F;
}

.gd-news-article-searcher-maps{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.gd-place-lists-block{
	display: flex;
	justify-content: space-between;
	gap: 20px;
	background-color: #eef4f8;
	padding: 20px;
	margin: 20px 0;
	position: relative;
}

.gd-place-list-read-more{
	display: flex;
	align-items: flex-end;
	width: 100%;
	justify-content: flex-end;
	gap: 20px;
}

.gd-place-list-read-more a{
	display: flex;
	align-items: center;
	gap: 10px;
	color: #686d87;
	font-size: 14px;
}

.gd-place-lists-info{
	width: 100%;
}

.gd-place-lists-info p,.gd-place-lists-info a{
	display: flex;
	gap: 10px;
	width: 100%;
}

.gd-turist-package-below-bar a{
	display: flex;
	margin-left: auto;
	align-items: center;
	gap: 15px;
}

.gd-place-lists-block .gd-place-list-read-more{
	position: absolute;
	bottom: 0;
	right: 2%;
}

.gd-place-list-info-most-important{
	display: flex;
	gap: 25px;
	align-items: baseline;
}

.badage-food{
	padding: 10px 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}

.gd-place-lists-info h3{
	color: #202C4F;
	font-weight: 700;
	margin-top: 15px;
}

.contrast .gd-newsletter-close-btn{
	box-shadow: 0 0 10px 0 #fff;
	background-color: #fff;
	padding: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.gd-newsletter-close-btn{
	display: block;
	margin-left: auto;
	cursor: pointer;
}

.gd-town-leaders, .gd-maps-website{
	padding: 20px;
	background-color: #eef4f8;
}

.gd-newsletter-modal-content ul, .gd-newsletter-modal-content ul li{
	all: revert;
}

.gd-newsletter-modal-content ul li + li {
    margin-top: 5px;
}

.gd-town-leaders ul li{
	padding: 5px 0;
	display: flex;
	align-items: center;
	gap: 10px;
}

.gd-read-more-with-text{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #202c4f;
	margin-top: auto;
}

.gd-read-more-with-text img{
	margin-left: 15px;
}

.gd-town-leaders .gd-place-lists-info h3{
	font-size: 24px;
}

.mw-50{
	max-width: 50%;
}

.gd-live-camera-block{
	display: flex;
	background-color: #eef4f8;
}

.gd-live-camera-block h3{
	padding: 20px;
}

.gd-end-of-article li{
	display: flex;
	align-items: center;
}

.gd-end-of-article a{
	color: #2594ff;
	text-decoration: underline;
	transition: .3s ease color;
	-webkit-transition: .3s ease color;
	-moz-transition: .3s ease color;
	-ms-transition: .3s ease color;
	-o-transition: .3s ease color;
}

.gd-end-of-article a:hover{
	color: #000;
}

.gd-end-of-article li p{
	margin-bottom: 0;
}

.gd-live-camera-block img{
	width: 100%;
	object-fit: cover;
	max-width: 675px;
}

.gd-heading-third{
	color: #202c4f;
	font-weight: 600;
	font-size: 28px;
}

.gd-applications-section{
	border: 1px solid #F4F8FA;
}

.gd-grey-banner{
	padding: 20px;
	background-color: #eef4f8;
	cursor: pointer;
}

.gd-vertical-block-with-img.gd-grey-banner,.gd-home-page-news-block, .gd-home-page-events-block{
	transition: .3s ease background-color, .3s ease color;
	-webkit-transition: .3s ease background-color, .3s ease color;
	-moz-transition: .3s ease background-color, .3s ease color;
	-ms-transition: .3s ease background-color, .3s ease color;
	-o-transition: .3s ease background-color, .3s ease color;
}

.gd-vertical-block-with-img.gd-grey-banner .gd-heading-second{
	transition: .3s ease color;
	-webkit-transition: .3s ease color;
	-moz-transition: .3s ease color;
	-ms-transition: .3s ease color;
	-o-transition: .3s ease color;
}

.gd-vertical-block-with-img.gd-grey-banner:hover,
.gd-home-page-news-block:hover,
.gd-home-page-events-block:hover{
	background-color: #202C4F;
	color: #fff;
}

.gd-vertical-block-with-img.gd-grey-banner:hover .gd-heading-second,
.gd-home-page-news-block:hover .news-date,
.gd-home-page-news-block:hover h3,
.gd-home-page-news-block:hover p,
.gd-home-page-events-block:hover h3,
.gd-home-page-events-block:hover p{
	color: #fff!important;
}

.gd-home-page-events-block:hover .news-date{
	color: #000!important;
}

.gd-app-block-image{
	border-right: 1px solid #F4F8FA;
	position: relative;
}

.gd-app-block-image img{
	display: block;
	margin-inline: auto;
	position: relative;
}

.gd-download-app{
	margin-top: 100px;
}

.project-filter-in-progress select{
	padding: 10px 15px;
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
	--bs-table-accent-bg: transparent!important;
}

.table-striped thead{
	background-color: #eef4f8;
	padding: 15px 0;
}

.table-striped, .table-striped td{
	border: 1px solid #F4F8FA;
}

.table-striped thead tr th{
	position: relative;
	vertical-align: top;
}

.table-striped thead tr th:after{
	content: url('../img/up.png');
	display: block;
	position: absolute;
	top: 0;
	right: 15px;
}

.table-striped thead tr th:before{
	content: url('../img/down.png');
	display: block;
	position: absolute;
	top: 0;
	right: 15px;
	margin: 10px 0;
}

.dataTables_scrollBody .table-striped thead tr th:before, .dataTables_scrollBody .table-striped thead tr th:after{
	display: none;
}

.gd-vertical-block-with-img{
	margin: 15px 0;
}

.social-board{
	width: 70%;
}

.gd-centrum-helper-scroll-block{
	max-height: 400px;
	overflow-y: scroll;
}

.question-form input{
	width: 100%;
	border: 2px solid #F4F8FA;
	padding: 0 20px;
}

.question-form{
	gap: 15px;
	border: 1px solid #F4F8FA;
	padding: 20px;
	margin: 10px 0;
}

.gd-centrum-helper{
	border: 1px solid #F4F8FA;
}

.block-with-border{
	border: 1px solid #F4F8FA;
	padding: 20px;
}

.block-with-border:first-child{
	border-top: 0;
}

.gd-popular-topics{
	padding: 20px;
}

.page-404-main h1{
	font-weight: 600;
	font-size: 36px;
	color: #202C4F;
}

.page-404-main a, .page-404-main p{
	color: #202C4F;
}

.grid-wrapper{
	grid-template-columns: repeat(3,1fr);
	gap: 20px;
}

.meteoprog-informer{
	grid-row: 2;
	grid-column: 1/2;
	width: auto!important;
	background-color: #fff;
	display: flex;
	align-items: center;
}

.gd-most-important-in-gdynia .grid-wrapper-content a{
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

.gd-newsletter-select-arrow{
	width: 100%;
	position: relative;
}

.gd-home-page-events-block-icons .gd-home-page-events-block-image{
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.gd-newsletter-select-arrow::after{
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	background-image: url(../img/arrow-down.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	right: 10px;
	top: 37%;
	pointer-events: none;
}