/* @media(max-width: 1615px){
    .gd-blue-menu{
        grid-template-columns: repeat(3,1fr);
    }
} */

@media(max-width: 1465px){
    .gd-category-filter{
        justify-content: center;
        gap: 20px;
    }

    .gd-town-leaders{
        flex-wrap: wrap;
    }

    .gd-live-camera-block .embed-container{
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
    }

    .gd-live-camera-block iframe{
        width: 100%!important;
        border: 0;
        height: 100%!important;
        left: 0;
        top: 0;
        position: absolute;
    }

    .gd-live-camera-block{
        flex-wrap: wrap;
    }

    /* .gd-blue-submenu{
        grid-template-columns: repeat(4,1fr);
    } */

    .gd-news-article-contact{
        flex-wrap: wrap;
        justify-content: center;
    }

    .gd-searcher-date{
        flex: 40%;
    }

    .gd-news-article-searcher-content{
        flex-wrap: wrap;
    }
}

@media(max-width: 1220px){
    .gd-place-lists-info{
        width: auto;
    }

    .gd-place-lists-block{
        flex-wrap: wrap;
    }

    .gd-top-menu2{
        gap: 30px;
        font-size: 12px;
    }
}

@media(max-width: 992px){
    .change-contrast{
        right: 5%;
    }

    .grid-wrapper{
        grid-template-columns: repeat(2,1fr);
    }

    .gd-top-menu2{
        display: none;
    }

    .gd-blue-menu .gd-blue-submenu-news li a{
        padding: 30px 0px 0px 0px;
    }

    .gd-turist-package-below-bar{
        margin-top: 140px;
    }

    .meteoprog-informer{
        grid-row: 3;
    }

    .gd-blue-menu-item.active{
        background-color: #3B4B78;
    }

    .gd-banners-under-events .slick-arrow{
        top: unset;
    }

    .gd-banners-under-events{
        margin-bottom: 150px;
    }

    .gd-home-page-events .slick-arrow{
        bottom: -10%;
    }

    .gd-banners-under-events-slick .slick-arrow{
        bottom: -25%;
    }

    .gd-place-lists-info p, .gd-place-lists-info a{
        margin: 10px 0;
        width: 100%;
    }

    .gd-place-list-info-most-important{
        flex-wrap: wrap;
    }

    .gd-place-lists-block .gd-place-list-read-more{
        position: initial;
    }

    .gd-home-page-events-block-icons p, .gd-home-page-events-block-icons time{
        display: flex;
        align-items: center;
    }

    .gd-worthy-shows-up-slider .slick-arrow{
        top: unset;
    }

    .gd-worthy-shows-up{
        margin-bottom: 70px;
    }

    .slick-arrow{
        top: unset;
        bottom: -15%;
        margin-inline: auto;
        left: 0;
    }

    .slick-next{
        left: 55px;
    }

    .gd-for-villager,.gd-home-page-news{
        margin-bottom: 150px;
    }

    .slick-prev{
        right: 55px;
    }

    .gd-newsletter-inputs{
        flex-wrap: wrap;
    }

    .gd-footer-info{
        column-count: 2;
    }

    .gd-footer-info li{
        display: flex;
        align-items: center;
    }

    .gd-newsletter-image{
        display: none;
    }

    .gd-newsletter-form{
        padding-left: unset;
        padding: 10px 15px;
    }

    .rodo-accept{
        order: 3;
    }

    .hide-desktop{
        display: flex!important;
    }

    .hide-mobile{
        display: none;
    }

    .gd-newsletter-inputs button{
        min-height: 46px;
        margin-bottom: 25px;
        order: 4;
    }

    .gd-newsletter-form #gd-email-input, .gd-newsletter-form #gd-form-select{
        margin-bottom: unset;
    }

    /* .gd-blue-nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr min-content;
        grid-template-rows: revert;
    } */

    .gd-newsletter-image img{
        margin-right: auto;
        margin-top: auto;
    }

    .gd-newsletter{
        padding: unset;
        margin-top: unset;
    }

    .gd-category-filter-content label{
        display: none;
    }

    /* .gd-blue-submenu{
        grid-template-columns: repeat(3,1fr);
    } */

    /* .gd-blue-menu li{
        display: flex;
        align-items: center;
    } */

    /* .gd-blue-menu li:nth-child(n+4) a{
        text-align: left;
        padding-left: 70px;
        position: relative;
    } */

    .gd-blue-submenu-news ul li a{
        padding-left: unset!important;
    }

    .gd-blue-submenu h3{
        padding: 10px 0;
    }

    .gd-blue-submenu-news ul li{
        position: relative;
    }

    .gd-blue-submenu-news ul{
        margin-bottom: 25px;
    }

    .gd-blue-submenu ul li::after{
        bottom: 0;
        margin-top: 0;
    }

    .gd-blue-menu li:nth-child(n+4) a::after{
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        background-image: url('../img/arrow-down-white.png');
        background-size: contain;
        background-repeat: no-repeat;
        right: 5%;
        top: 37%;
    }

    #menu-item-4,#menu-item-5,#menu-item-6{
        grid-column: span 4;
        display: none;
        border-bottom: 2px solid #fff;
    }

    .gd-blue-menu li img{
        display: none;
    }

    /* .gd-blue-menu{
        display: contents;
        grid-template-columns: 1fr 1fr 1fr;
    } */

    #menu-item-1,#menu-item-2,#menu-item-3{
        border-bottom: 0;
    }

    .gd-blue-nav{
        position: relative;
        border-bottom: 2px solid #fff;
    }

    .gd-blue-menu{
        grid-template-columns: 1fr 1fr 1fr 1fr min-content;
        align-items: center;
        gap: 0;
    }

    .uil.uil-bars{
        padding: 8px 20px;
        display: block;
        z-index: 99;
        position: absolute;
        right: 0;
        top: 0;
    }

    #menu-item-1{
        grid-column: 1/2;
    }

    .gd-practice-info-content .block-for-after:nth-child(2):after,.gd-practice-info-content .block-for-after:nth-child(4):after{
        display: none;
    }

    .gd-top-menu{
        display: none;
    }

    .gd-footer-social-media{
        margin-top: unset;
        margin-bottom: 15px;
        justify-content: center;
    }

    .gd-footer-logos{
        justify-content: space-evenly;
        flex-direction: row;
    }

    .gd-home-page-events .gd-home-page-events-block-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .gd-home-page-show-more-bar h2{
        margin-top: 25px;
    }

    .slick-track{
        display: flex !important;
    }

    .slick-slide{
        height: inherit !important;
    }

    .slick-initialized .slick-slide{
        display: flex!important;
    }

    .div-just-for-slick article,.div-just-for-slider-events article{
        min-height: 100%;
        margin: 10px 0;
    }

    .gd-home-page-news .div-just-for-slick .slick-slide div,.gd-home-page-events .div-just-for-slider-events .slick-slide > div{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .gd-dog-banner{
        width: 100%;
        min-height: 212px;
        object-fit: cover;
    }
}

@media(max-width: 768px){
    .gd-most-important-in-gdynia h3{
        font-size: 18px;
        height: 30%;
    }

    table.ue td{
        padding-left: 10px!important;
    }

    iframe{
        width: 100%;
    }

    blockquote::before{
        top: 10%;
        height: 30px;
    }

    blockquote{
        padding-left: 40px;
        padding-top: 70px;
    }

    .gd-worthy-shows-up-slider h3 img,.gd-home-page-news-block .gd-read-more,.gd-home-page-events .gd-read-more{
        display: none!important;
    }

    .gd-home-page-news .slick-track,.gd-home-page-events .slick-track{
        padding-bottom: 9px;
    }

    .ln-active{
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .gd-top-menu-on-mobile li a img{
        width: 40px;
        height: 40px;
    }

    .gd-top-menu-on-mobile li{
        padding: 10px;
    }

    .gd-to-download a{
        max-width: 100%;
    }

    .gd-pagination{
        gap: 10px;
    }

    .gd-change-language{
        display: none;
    }

    .gd-breadcrumbs ul li{
        padding: 0;
    }

    .gd-breadcrumbs a{
        padding: 0 10px;
    }

    .gd-event-vertical-block{
        padding: 10px 0;
    }

    .gd-most-important-in-gdynia .grid-wrapper-content a{
        width: 100%;
        max-width: 510px;
    }

    .meteoprog-informer{
        width: 100%!important;
        margin-inline: auto;
        grid-row: 6;
    }

    .gd-heading-third{
        font-size: 23px;
    }

    .mw-50{
        max-width: 100%;
    }

    .grid-wrapper{
        grid-template-columns: 1fr;
    }

    .gd-phone-lists ul li{
        flex: auto;
    }

    .gd-worthy-shows-up h3{
        font-size: 18px;
    }

    .submenu-new-ul-list{
        columns: 2;
    }

    .overlay-on-dog-banner{
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .gd-breadcrumbs ul{
        flex-wrap: wrap;
    }

    .gd-news-article-contact{
        justify-content: flex-start;
    }

    .gd-news-article-contact-image-phone,.table-striped thead tr th:after,.table-striped thead tr th::before{
        display: none;
    }

    .gd-news-article-contact ul{
        column-count: 2;
    }

    .gd-news-article-contact ul li{
        display: flex;
        align-items: center;
    }

    .gd-news-slider-gallery-content.is-active{
        flex-wrap: wrap;
    }

    .gd-most-important-in-gdynia article{
        display: flex;
        justify-content: center;
    }

    /* .gd-blue-submenu{
        grid-template-columns: repeat(2,1fr);
    } */

    .badage{
        top: 0;
        left: unset;
    }

    .gd-newsletter-form #gd-email-input, .gd-newsletter-form #gd-form-select{
        width: 100%;
    }

    .gd-home-page-news-block img{
        display: block;
        margin-inline: auto;
        width: 100%;
    }

    .search-results .gd-home-page-news-block img{
        margin-inline: unset;
    }

    .gd-virtual-guide{
        display: none;
    }

}

@media(max-width: 576px){
    .gd-category-filter-content select{
        grid-column: unset;
    }

    .gd-home-page-show-more-bar a{
        font-size: 0;
        margin-top: 15px;
    }

    .gd-footer-logos{
        flex-wrap: wrap;
    }

    .gd-worthy-shows-up h2{
        margin-top: 150px;
    }

    .gd-place-lists-block .thumb{
        max-width: 100%!important;
    }

    .gd-search-on-mobile .gd-main-search-form{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .uil.uil-bars{
        position: absolute;
        width: 33%;
        text-align: right;
        right: 0;
        top: -1px;
        font-size: 21px;
        padding: 10px 20px;
    }

    .table-place-details tr td{
        padding: 20px 5px!important;
    }

    .gd-end-of-article{
        justify-content: flex-start!important;
    }

    /* .table-responsive{
        position: relative;
        display: block;
    } */

    .submenu-new-ul-list{
        columns: 1;
    }

    .gd-turist-package-below-bar{
        flex-wrap: wrap;
    }

    .gd-blue-menu{
        grid-template-columns: repeat(3,1fr);
        position: relative;
    }

    .gd-news-article-searcher button.submit{
        padding: 0.6em 1em;
        width: 100%;
    }

    .date-slaider-content a{
        min-width: 33%!important;
        text-align: center;
    }

    .slick-initialized .slick-slide{
        justify-content: center;
    }

    #menu-item-1{
        grid-column: 1/2;
    }

    .gd-place-list-read-more{
        flex-direction: column;
    }

    .gd-blue-menu li:nth-child(n+3) a::after{
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        background-image: url('../img/arrow-down-white.png');
        background-size: contain;
        background-repeat: no-repeat;
        right: 5%;
        top: 27%;
    }

    .gd-blue-menu li#menu-item-3 a::after{
        top: 37%;
    }

    .gd-blue-menu li#menu-item-4 a::after{
        top: 37%;
    }

    .gd-blue-menu li#menu-item-5 a::after{
        top: 37%;
    }

    .gd-blue-menu li#menu-item-6 a::after{
        top: 37%;
    }

    #menu-item-3,#menu-item-4,#menu-item-5,#menu-item-6{
        grid-column: span 4;
        display: none;
        border-bottom: 2px solid #fff;
    }

    /* .gd-blue-submenu{
        grid-template-columns: 1fr;
        z-index: 9999;
    } */

    #menu-item-3 .gd-blue-submenu-active{
        top: unset;
    }

    /* .gd-blue-menu li:nth-child(n+3) a{
        text-align: left;
        padding-left: 70px;
        position: relative;
    } */

    .gd-footer-info, .gd-news-article-contact ul{
        column-count: 1;
    }

    .gd-newsletter-inputs button{
        display: block;
        max-width: 180px;
        margin-inline: auto;
    }

    .gd-most-important-in-gdynia article{
        display: block;
    }

    .gd-practice-info-content .block-for-after::after, .gd-main-search-form{
        display: none;
    }

    .gd-live-camera-block{
        flex-wrap: wrap;
    }

    .gd-take-a-look-block-content{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .gd-news-gallery img{
        display: block;
        margin-inline: auto;
    }

    .info-and-share{
        flex-direction: column;
        align-items: flex-start;
    }

    .info-and-share .news-date{
        order: 2;
    }

    .gd-news-slider-gallery-thumbnails,.gd-end-of-article{
        flex-wrap: wrap;
        justify-content: center;
    }

    .gd-news-article-contact li,.gd-end-of-article li{
        margin-left: unset;
        display: flex;
        align-items: center;
    }

    .gd-category-filter-content{
        flex-wrap: wrap;
    }

    .gd-searcher-date{
        max-width: unset;
    }

    .date-slaider-content p{
        min-width: 25%;
    }

    .date-slaider button{
        padding: 0;
        margin: 0;
    }

    .date-slaider{
        max-width: 100%;
        padding: 0 25px;
    }

    .for-villager-slider .slick-list{
        padding: unset!important;
    }
}

/* @media(max-width: 445px){

    .gd-blue-submenu{
        grid-template-columns: 1fr;
    }
} */

@media(max-width: 425px){
    .gd-top-menu-on-mobile li{
        padding: 6px;
    }

    .gd-top-menu-on-mobile li a img{
        width: 30px;
        height: 30px;
    }

    .gd-blue-menu li a{
        font-size: 13px;
        min-width: 150px;
    }
}

@media(min-width: 576px){
    .gd-search-on-mobile{
        display: none;
    }

    .gd-menu-search-and-lang{
        position: inherit;
    }
}